.container-sidebar{
    width: 5rem;
    height: 100vh;
    border-right: 1px solid #aaaaaa;
}

.inner-title{
    padding: 1rem 0.5rem;
    text-align: center;
}

.inner-title img{
    width: 3.5rem;
}

.div-links{
    width: 100%;
    text-align: center;
}

.div-links ul{
    padding: 0.25rem;
    margin-top: 0.5rem;
}

.div-links ul li{
    margin: 1rem 0;
    cursor: pointer;
    font-size: 1.4rem;
}

.div-links ul li .links{
    color: #000;
    transition: .2s ease;
}

.div-links ul li .links:hover{
    color: var(--cor-fonte3);
}

.div-infos{
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
}

.div-infos ul li{
    cursor: pointer;
    transition: .2s ease;
    font-size: 1.25rem;
}

.div-infos ul li:hover{
    color: var(--cor-fonte3);
}


.div-links ul li .links.active{
    color: var(--cor-fonte3);
}