.vendaDetails-overlay{
  position: fixed;   
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  inset: 0;             
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.container-vendaDetails{
    border: 1px solid var(--cor-fonte3);
    background-color: var(--bg-color);
    border-radius: 16px;
    padding: 1rem;
    width: 500px;
    max-width: 500px;
    min-width: 390px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
}

.detalhesVenda-content {
  overflow-y: auto;     
  flex: 1;              
  padding-right: 0.5rem;
}

.closePagamento-button{
    text-align: left;
}

.detalhes-layout{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.detalhes-layout div{
    width: 45%;
}

.detalhes-layout div p{
    padding-left: 0.25rem;
    margin-bottom: 0.4rem;
}

.itens-quantidade{
    padding-left: 0.3rem;
    margin: 0.5rem 0;
}