:root {
  --bg-color: #f0f0f0;
  --cor-fonte: #f2f2f2;
  --cor-fonte2: #af58d4;

  background-color: var(--bg-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
}